<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard"><img src="static/img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Pawn</a>
              <ul class="dropdown-menu">
                <li> <a class="dropdown-item" href="/retrievePawn">Manage Pawn</a></li>
              </ul>
        </li>
        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Money Exchanger</a>
              <ul class="dropdown-menu">
               <li> <a class="dropdown-item" href="/moneyExchangeUpdate">Update</a></li>
                  <li><a class="dropdown-item" href="/moneyExchangeDelete">Delete</a></li>
                  <li><a class="dropdown-item" href="/viewFeedback1">View Requests</a></li>
              </ul>
        </li>
         <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Loan</a>
              <ul class="dropdown-menu">
                <li> <a class="dropdown-item" href="/Loan.html">Create</a></li>
                  <li><a class="dropdown-item" href="/retrieveLoan.html">Status Check</a></li>
                  <li><a class="dropdown-item" href="/createPlan.html">Create Plan</a></li>
                  <li><a class="dropdown-item" href="/retrievePlan.html">Retrieve Plan</a></li>
              </ul>
        </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Account Management</a>
              <ul class="dropdown-menu">
                  <li> <a class="dropdown-item" href="/manageCustomer">Manage Customer</a></li>
                  <li><a class="dropdown-item" href="/manageAdmin">Manage Admin</a></li>
                  <li><a class="dropdown-item" href="/customerStuff">Search Customer stuff</a></li>
              </ul>
        </li>

      </ul>
        <ul class = "like">
        <div class = "Loke">
          <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
          </li>
        </div>
        </ul>
    </div>
  </div>
</nav>

<style>
.like {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-bottom: 0;
                list-style: none;
        }
</style>
