#welcome-txt {
text-align: center;
}

#welcome-txt {
text-align: center;
}

.w3-third {
  float: left;
  width:30%;
  margin-left:10%;
  margin-right:10%;
  text-align:center;
}

.Corevaluetextbox {
max-width:50%;
text-align:center;
}


/* Clear floats after the columns */
.w3-row-padding w3-center w3-margin-top:after {
  content: "";
  display: table;
  clear: both;
}

#about-us {
  padding:15px;
}



/* Start of Newsletter*/
#footerTest{
  background: #DEE2E6;
  padding: 20px 0 15px 0;
  margin-top:30%;
  font-family: GT-Walsheim, Arial, sans-serif;
}


#legal{
  width: 100%;
  text-align: center;
  color: black;
  background: #DEE2E6;
  font-size: 10pt;
  line-height: 1.6em;
  padding: 10px 10px 30px 10px;
}

.Newsletter{
  padding:0px;
  margin:0px;

}
.container {
  padding: 35px;
  height:65px;
}
.container2{
  padding: 10px;
  height:55px;
}
.container3 {
  padding: 20px;
  height:65px;
}
.text, .submit {
  width: 25%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}
.submit {
  background-color:#333;
  padding:12px;
  color:white;
  font-size: 15px;
}
.text{
  padding:12px;
  margin: 8px;
  font-size:18px;
}
.checkbox {
  margin-top: 16px;
}
.submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
.peanut {
font-size:16px;
}

.jk{
align-items: right;
margin-left:80%;
margin-top:-8%
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.wrapper{
  margin: auto;
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0);
}
.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form{
  margin: 40px 0 20px 0;
}
form :where(input, select, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
}
form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #675AFE;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.select-box img{
  max-width: 21px;
}
.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #675AFE;
  transition: 0.3s ease;
}
form button:hover{
  background: #4534fe;
}