{% extends "baseMain.html" %}
{% block title %}Radiant Loan - Create Plan{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Create Plan</h1>

<form action="" method="POST">
    <div class="col-6 form-group">
        <label>Plan Name</label>
         {{ render_field(form.Plan_name, class="form-control") }}
    </div>
    <div class="col-6 form-group">
            <label>Plan Description</label>
            {{ render_field(form.Plan_Des, class="form-control") }}
    </div>
     <div class="col-2 form-group">
            <label>Plan Interest rate</label>
             {{ render_field(form.Plan_interest, class="form-control") }}
    </div>
    <br>
    <div class="col-12 form-group">
            <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>
{% endblock %}