{% extends "baseDashboard.html" %}
{% block title %}Radiant Finance - Customer detials{% endblock %}

{% block content %}
<h1 class="display-4">Customer stuff</h1>

<h2>Pawn</h2>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in pawn_list %}
        <tr>
           <td>{{ feedback.get_firstname() }}</td>
          <td>{{ feedback.get_email() }}</td>
          <td>{{feedback.get_pawnstatus()}}</td>
           <td><a href="/updatePawn/{{feedback.get_}}" class="btn btn-warning">Update</a></td>
          <td>
            <form action="{{url_for('delete_pawn', id=feedback.get_email())}}" method="POST">

          <form type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{feedback.get_email()}}">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>



            </form>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

<h2>Loan</h2>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>UserID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Email</th>

        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in loan_list %}
        <tr>
           <td>{{ feedback.get_loan_id() }}</td>
          <td>{{ feedback.get_loan_name() }}</td>
          <td>{{feedback.get_loan_amount()}}</td>
            <td>{{feedback.get_loan_email()}}</td>
           <td><a href="/updateLoan/{{feedback.get_loan_id()}}" class="btn btn-warning">Update</a></td>
          <td>
            <form action="{{url_for('delete_loan', id=feedback.get_loan_id())}}" method="POST">

          <form type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{feedback.get_loan_id()}}">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>

          <!-- The Modal -->

            </form>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
<!---
<h2>Money Exchange</h2>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>From what currency to what price</th>
          <th>Transaction ID</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in transaction_list %}
        <tr>
           <td>{{ feedback.get_name() }}</td>
          <td>{{ feedback.get_email() }}</td>
          <td>{{feedback.get_address()}}</td>
          <td>{{feedback.get_city()}}</td>
            <td>{{feedback.get_state()}}</td>
          <td>{{feedback.get_zip()}}</td>
          <td>{{feedback.get_status()}}</td>
           <td><a href="/updateFeedback/{{feedback.get_email()}}" class="btn btn-warning">Update</a></td>
          <td>
            <form action="{{url_for('transactionProcess', id=feedback.get_email())}}" method="POST">

          <form type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{feedback.get_email()}}">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>



            </form>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
--->
{% endblock %}
