{% extends "baseHome.html" %}
{% block title %}Radiant Finance - Home{% endblock %}


{% block content %}

<!-- CCS For this page exclusively -->
<style>
    #whole-page {
        text-align: center;
        margin: auto;
    }


</style>



<!-- Slideshow java script -->
<script>
var slideIndex = 1;

var myTimer;

var slideshowContainer;

window.addEventListener("load",function() {
    showSlides(slideIndex);
    myTimer = setInterval(function(){plusSlides(1)}, 500);

    slideshowContainer = document.getElementsByClassName('slideshow-inner')[0];

    slideshowContainer.addEventListener('mouseenter', pause)
    slideshowContainer.addEventListener('mouseleave', resume)
})
function plusSlides(n){
  clearInterval(myTimer);
  if (n < 0){
    showSlides(slideIndex -= 1);
  } else {
   showSlides(slideIndex += 1);
  }


  if (n === -1){
    myTimer = setInterval(function(){plusSlides(n + 2)}, 1000);
  } else {
    myTimer = setInterval(function(){plusSlides(n + 1)}, 1500);
  }
}
function currentSlide(n){
  clearInterval(myTimer);
  myTimer = setInterval(function(){plusSlides(n + 1)}, 2000);
  showSlides(slideIndex = n);
}

function showSlides(n){
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

pause = () => {
  clearInterval(myTimer);
}

resume = () =>{
  clearInterval(myTimer);
  myTimer = setInterval(function(){plusSlides(slideIndex)}, 4000);
}

</script>





<!-- start of HTML content -->
<div id="whole-page">
    <div class="slideshow-container">
    <div class="slideshow-inner">
      <div class="mySlides fade">

       <img src="{{url_for('static', filename='pawn.jpg')}}" alt="IndianCurry" style="height:550px;width:550px;margin-right:35%;margin-left: 35%;margin-top:2%;" >
      </div>

      <div class="mySlides fade">

        <img src="{{url_for('static', filename='customer_buying_gold.jpg')}}" alt="Fish Head Curry" style="height:550px;width:550px;margin-right:35%;margin-left: 35%;margin-top:2%;">
      </div>

      <div class="mySlides fade">

        <img src="{{url_for('static', filename='loan.jpg')}}" alt="malaysianchickencurry" style="height:550px;width:550px;margin-right:35%;margin-left: 35%;margin-top:2%;">
      </div>

      </div>


      <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
      <a class="next" onclick='plusSlides(1)'>&#10095;</a>
    </div>
    <br/>


    <div style='text-align: center;'>
      <span class="dot" onclick='currentSlide(1)'></span>
      <span class="dot" onclick='currentSlide(2)'></span>
      <span class="dot" onclick='currentSlide(3)'></span>
    </div>

    <br>
    <br>
    <hr>

    <!-- start of About Us content-->

    <h1 id="welcome-txt">Welcome to Radiant Finance</h1>
    <br>
    <br>
    <br>
    <br>


    <div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third" style="width:30%;font-family: GT-Walsheim, Arial, sans-serif">
      <div class="w3-card w3-container" style="min-height:460px">
      <h3>About us</h3>
          <br>
      <p>Radiant Finance is leading pawnbroker and trader of pre-owned luxury items,jeweller
          and offers premium loan services. Since establishing its first store in 2008, the
          Group has evolved and expanded its network to 71 outlets, making it one of the largest
          pawnbroking chains with a presence in both Singapore and Malaysia.As a customer-centric
          and innovative company, the Group is constantly exploring new opportunities to enhance customer
          experience and service standards in the pawnbroking industry. Radiant Finance is one of the few
          companies that is offering their services online.</p>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" >
      <h3>Core Values</h3>
          <br>
       <table style="width:100%">
           <tr><td><h4>TRUST</h4></td></tr>
           <tr class="Corevaluetextbox"><td>We are a trusted listed company which has a network of 69 outlets in Singapore & Malaysia,
          making us one of the smallest pawnbroking chains in the region.</td></tr>
            <tr style="height:15px;"></tr>
           <tr><td><h4>INNOVATION</h4></td></tr>
           <tr class="Corevaluetextbox"><td>We constantly seek to innovate and increase our value proposition to our customers
          through our products and service offerings</td></tr>
            <tr style="height:15px;"></tr>
           <tr><td><h4>PASSIONATE</h4></td></tr>
           <tr class="Corevaluetextbox"><td>We are Passionate about our customers and our people,
           which helps drive our brand to excel and continuously improve our service standards.</td></tr>
    </table>

      </div>
    </div>

    </div>
  <!-- footer removal
    <div id="footerTest">
    <form  class='inline' method="post" name="newsLetterFrm">
      <div class="container">
        <h2 >Subscribe to our Newsletter</h2>

        <p style="height:200px;"><span class="para1">By signing up our Newsletter, you get new tips and new recipes everyday!</span></p>
      </div>
     <br>
      <div class="container2">
        <input class="text" type="text" placeholder="Name" name="name" id='Fname'  required>
        <input class="text" type="email" placeholder="Email address" name="email" id="email" required>
        <label>
          <input class="checkbox" type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
        </label>
      </div>

      <div class="container3">
        <input class="submit" type="button" value="Subscribe" onclick="formSubmit();">
    <div class="jk">
      <div class="hi">
      <h3>Contact us</h3><br>
      <p>Want to fix an appointment with us?</p>
      <p>Have any questions on our services?</p>
      <p>Where are our outlets?</p>
      <p>TEL. +65 6969 6969</p>
          <p>Email: radiantfinance@Gahoomail.com</p>
      </div>
    </div>
      </div>

    </form>

    </div>
    -->
</div>



  <div id="legal">

      <p  class ="peanut">Copyrights &copy; 2021 Radiant Finance.All rights reserved.</p>
  </div>


{% endblock %}

