{% extends "baseDashboard.html" %}
{% block title %}Radiant Finance - Manage Admin{% endblock %}

{% block content %}
<h1 class="display-4">Manage Admin</h1>

<a href="/createAdmin">Create Admin</a>
<a href="/searchAdmin">Search Admin</a>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>BirthDate</th>
        <th>gender</th>
        <th>Phone Number</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for User in Users %}
      {%if User.role==1%}
        <tr>

          <td>{{ User.name }}</td>
          <td>{{ User.email }}</td>
          <td>{{User.birthdate}}</td>
          {% if User.gender == "F" %}
            <td>Female</td>
          {% elif User.gender == "M" %}
            <td>Male</td>
          {% endif %}
          <td>{{User.phone}}</td>

        </tr>
      {%endif%}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
