{% extends "baseDashboard.html" %}
{% block title %}Radiant Finance - Manage Customers{% endblock %}

{% block content %}
<h1 class="display-4">Manage Customers</h1>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mac address</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for User in Users %}
        <tr>

          <td>{{ User.mac }}</td>

        <td>

          <form action="{{url_for('delete_attempt')}}" method="POST">

          <form type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
            <input type="submit" value="Delete pass attempts" class="btn btn-danger">
          </form>


            </form>
          </td>
        </tr>

      {% endfor %}


    </tbody>
  </table>
</div>
{% endblock %}
