{% extends "baseDashboard.html" %}
{% block title %}Radiant Finance - Manage Customers{% endblock %}

{% block content %}
<h1 class="display-4">Manage Customers</h1>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>BirthDate</th>
        <th>gender</th>
        <th>Phone Number</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for User in Users %}
      {%if User.role==0%}
        <tr>

          <td>{{ User.name }}</td>
          <td>{{ User.email }}</td>
          <td>{{User.birthdate}}</td>
          {% if User.gender == "F" %}
            <td>Female</td>
          {% elif User.gender == "M" %}
            <td>Male</td>
          {% endif %}
          <td>{{User.phone}}</td>
        <td>
            <form action="{{url_for('delete_customer', id=User.id)}}" method="POST">

          <form type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{User.id}}">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>


            </form>



            </form>
          </td>
        </tr>
        {%endif%}
      {% endfor %}


    </tbody>
  </table>
</div>
{% endblock %}
