{% extends "baseHome.html" %}
{% block title %}Radiant Finance- Home{% endblock %}

{% block content %}


<link rel= "stylesheet" type= "text/css" href= "/static/moneyExchanger.css" >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css%22%3E">

<!-- convert table -->
<title>Real Time Currency Converter</title>
    <style>
        .container {
          max-width: 500px;
          margin: auto;
        }
    </style>
<div class="wrapper">
    <header>Currency Converter</header>
    <form action ="/convertMoney" method="POST" id="moneyForm">
        <p>Enter Amount</p>
        <input type ="amount" placeholder="Enter Amount" name="amount" value="{{amount}}" required="required">
        <div class="drop-list">
          <div class="from">
            <p>From</p>
            <div class="select-box">
                <select name="from">
            {% for country in countries %}
            <option value = "{{country}}" SELECTED>{{country}}</option>
            {% endfor %}
        </select>
                </div>
              </div>
            <div class="icon"><i class="fas fa-exchange-alt"></i></div>
          <div class="to">
              <p>To</p>
            <div class="select-box">
        <select name="to">
            {% for country in countries %}
            <option value = "{{country}}" SELECTED>{{country}}</option>
            {% endfor %}
        </select>
            </div>
          </div>
        </div>
        <br>
        {% if result %}
        <div class="result-box">
            <p>Converted: {{ result }}</p>
            <p>1 {{ first }} is {{ rate }} {{ second }}</p>
        </div>
        {% endif %}

        <button style="margin:5px;" name="convert" type="submit" value="convert">Convert</button>
<!--        <button style="margin:5px;" name="delete" type="submit" value="checkout">Temporary Delete</button>-->
<!--        <button style="margin:5px;" name="update" type="submit" value="checkout">Temporary Update</button>-->


    </form>
</div>
<!-- start of About Us content-->


{% endblock %}

