{% extends "baseMain.html" %}
{% block title %}Library Loan System - Currency Request{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Currency Request</h1>

<form method="POST" action="">
  <div class="name" >
    {{ render_field(form.name, class="form-control") }}
  </div>
  <div class="contactnumber">
    {{ render_field(form.contnumb, class="form-control") }}
  </div>
  <div class="email">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div id="prof">
    <div class="currency">
      {{ render_field(form.requestyourcurrency, class="form-control") }}
    </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}

