{% extends "baseDashboard.html" %}
{% block title %}Pawn- Retrieve Pawn{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">Retrieve pawn</h1>
<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>SUI</th>
          <th>First Name</th>
          <th>NRIC</th>
          <th>Category of Item</th>
          <th>Item Condition</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>{{ pawn.sui }}</td>
        <td>{{ pawn.first_name }}</td>
        <td>{{ pawn.nric }}</td>
        <td>{{ pawn.category }}</td>
        <td>{{ pawn.ItemCondition }}</td>
        <td>{{ pawn.pawn_status }}</td>
        <td>
          <form action="{{url_for('view_pawn', id=pawn.id)}}" method="POST">
            <input type="submit" value="View" class="btn btn-danger">
          </form>
        </td>
        <td>
          <form action="{{url_for('update_pawn', id=pawn.id)}}"  method="POST">
            <input type="submit" value="Update" class="btn btn-danger">
          </form>
        </td>
          <td>
            <form action="{{url_for('delete_pawn', id=pawn.id)}}"  method="POST">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </td>
    </tr>
    </tbody>
  </table>
</div>
{% endblock %}