{% extends "baseDashboard.html" %}
{% block title %}Pawn- Retrieve Pawn{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">Retrieve pawn</h1>
<div>
{% if count == 0 %}
  <p>There are no Pawns.</p>
  {% elif count == 1 %} 
  <p>There is 1 Pawn.</p>
  {% else %}
  <p>There are {{ count }} Pawns.</p>
  {% endif %}
</div>
<table class="w3-table w3-striped w3-border">
<tr>
  <td>
    <form action="{{url_for('search_sui')}}"  method="POST">
      <input type="submit" value="Search SUI" class="btn btn-danger">
    </form>
  </td>
  <td>
    <form action="{{url_for('filter_status')}}"  method="POST">
      <input type="submit" value="Filter Status" class="btn btn-danger">
    </form>
  </td>
</tr>
  
</table>
<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>SUI</th>
          <th>First Name</th>
          <th>NRIC</th>
          <th>Category of Item</th>
          <th>Item Condition</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {% for pawn in pawn_list %}
        <tr>
        <td>{{ pawn.get_SUI() }}</td>
        <td>{{ pawn.get_firstname() }}</td>
        <td>{{ pawn.get_nric() }}</td>
        <td>{{ pawn.get_category() }}</td>
        <td>{{ pawn.get_ItemCondition() }}</td>
        <td>{{ pawn.get_pawnstatus() }}</td>
        <td>
          <form action="{{url_for('view_pawn', id=pawn.get_item_id())}}" method="POST">
            <input type="submit" value="View" class="btn btn-danger">
          </form>
        </td>
        <td>
          <form action="{{url_for('update_pawn', id=pawn.get_item_id())}}"  method="POST">
            <input type="submit" value="Update" class="btn btn-danger">
          </form>
        </td>
          <td>
            <form action="{{url_for('delete_pawn', id=pawn.get_item_id())}}"  method="POST">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}