{% extends "baseMain.html" %}
{% block title %}Radiant Loan - Create Plan{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>
    .row {
          text-align: center;
          width: 100%;
          border: 5px solid #FFFF00;
          padding: 10px;
       }
</style>



<h1 class="display-4">Retrieve Plans</h1>
<div>
    {% if count == 0 %}
    <p>There are no Plans.</p>
    {% elif count == 1 %}
    <p>There is 1 Plan.</p>
    {% else %}
    <p>There are {{ count }} Plans.</p>
    {% endif %}
</div>
<table class="table table-striped">
    <tr>
        <th>Plan</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for plan in plans_lists %}
    <tr>

        <td>
            <div class="row" style="border:solid;max-width:150px;">
                <div class="two columns">
                    <p id="{{ plan.get_loan_plan_id }}" class="year-text">{{ plan.get_loan_plan_name() }}</p>
                </div>
                <div class="two columns">
                    <p class="year-text">{{ plan.get_loan_plan_desc() }}</p>
                </div>
                <div class="two columns">
                    <p class="year-text">{{ plan.get_loan_plan_int() }}% interest</p>
                </div>
                <div class="six columns offset-by-five">
                    <a href="#" class="btn btn-primary">Choose Plan</a>
                </div>
            </div>
        </td>
        <td>
                <div>
                    <a href="/updatePlan.html/{{plan.get_loan_plan_id()}}" class="btn btn-warning">Update</a>
                </div>
        </td>
        <td>
            <form action="{{url_for('delete_plan', id=plan.get_loan_plan_id())}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
