{% extends "baseMain.html" %}
{% block title %}Pawn- Retrieve Pawn{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %} 
<h1>Retrieve Status</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>SUI</th>
              <th>NRIC</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>

            <tr>
                <td>{{ sui }}</td>
                <td>{{ nric }}</td>
                <td>{{ offer_price }}</td>
                <td>{{ pawn_status }}</td>
                </tr>
          </tbody>
        </table>
    </div>
{% endblock %}