{% extends "baseDashboard.html" %}
{% block title %}Radiant Finance - Manage Customers{% endblock %}

{% block content %}
<h1 class="display-4">Update</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Transaction</title>
</head>
    <header>Update</header>
<br>
    <form action ="/updateTransaction" method="POST">
        <div class="select-box">
            <select name="tId">
            {% for trans in transactions %}

            <option value = "{{trans}}" SELECTED>{{trans}}</option>
            {% endfor %}
        </select>
            <input type ="name" placeholder="Enter new Name" name="newName" >
            <input type ="text" placeholder="Enter new Email" name="newEmail1" >
            <input type ="text" placeholder="Enter new Address" name="newAddress" >
        </div>
<!--       <div class = "display-box">-->
<!--            {% for obj in objects %}-->
<!--            <p>{{obj}}</p>-->
<!--        </div>-->
        {% endfor %}
        <br>
        <br>
        {% if details %}
        <div class ="detail-box">
            <p>Transaction ID {{id}} successfully updated.</p>
        <p>New Details: {{ details }} </p>
        {% endif %}
            {% if error %}
            <p>Transaction update failed. {{error}} </p>
            {% endif %}
            {% if check %}
            <p>Details: {{ check }}</p>
            {% endif %}
        </div>
        <button style="margin:5px;" name="check" type="submit" value="check">Check Transaction</button>
        <button style="margin:5px;" name="update" type="submit" value="update">Update Transaction</button>
    </form>
</html>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
          <th>Zip</th>
          <th>Transaction ID</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for obj in objects %}
        <tr>

          <td>{{ obj.getName() }}</td>
          <td>{{ obj.getEmail() }}</td>
          <td>{{obj.getAddress()}}</td>
          <td>{{obj.getCity()}}</td>
            <td>{{obj.getState()}}</td>
            <td>{{obj.getZip()}}</td>
            <td>{{obj.getTransactionID()}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
