{% extends "baseDashboard.html" %}
{% block title %}Radiant Finance - Update Customer{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Update Customer</h1>


  <form method="POST" action="/updateAdmin/{{ user.id }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
      <h6>Name</h6>
    {{ form.name(value=user.name)}}
  </div>
  <div class="form-group">
      <h6>email</h6>
    {{ form.email(value=user.email) }}
  </div>
  <div class="form-group">
      <h6>gender</h6>
    {{ form.gender(value=user.gender)}}
  </div>
  <div class="form-group">
      <h6>Phone Number</h6>
    {{ form.phone(value=user.phone)}}
  </div>
  <div class="form-group">
      <h6>Birthdate</h6>
    {{ form.birthdate(value=user.birthdate)}}
      </div>

  <div class="form-group">
    {{ form.submit }}
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
            </div>
      {% endfor %}
    {% endif %}
{% endwith %}
  </div>
  </form>
{% endblock %}