{% extends "baseDashboard.html" %}
{% block title %}Radiant Finance - Update Status{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Update Status</h1>

<form method="POST" action="">
      <div class="form-group">
    {{ render_field(form.name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.service, class="form-control") }}
  </div>
     <div class="form-group">
    {{ render_field(form.website, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.additional, class="form-control") }}
  </div>
   <div class="form-group">
    {{ render_field(form.date, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.status, class="form-control") }}
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}