{% extends "baseDashboard.html" %}
{% block title %}Pawn- View Pawn{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h3>View Pawn</h3>
<table class="w3-table w3-striped w3-border">
    <tr>
        <td>
        <form action="{{url_for('update_pawn', id=pawn.id)}}"  method="POST">
          <input type="submit" value="Update" class="btn btn-danger">
        </form>
    </td>
    <td>
          <form action="{{url_for('delete_pawn', id=pawn.id)}}"  method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
        </tr>
</table>
<table class="table table-striped">

    <tr>
        <th>SUI</th>
        <td>{{ pawn.sui }} </td>
      </tr>
    <tr>
        <th>First Name</th>
        <td>{{ pawn.first_name }}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{ pawn.last_name }}</td>
      </tr>
      <tr>
        <th>NRIC</th>
        <td>{{ pawn.nric }}</td>
      </tr>
      <tr>
        <th>Contact Number:</th>
        <td>{{ pawn.contact_number }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ pawn.email }}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ pawn.address }}</td>
      </tr>
      <tr>
        <th>Item Name</th>
        <td>{{ pawn.item_name }}</td>
      </tr>
      <tr>
        <th>Description of Item</th>
        <td>{{ pawn.description }}</td>
      </tr>
      <tr>
        <th>Category</th>
        <td>{{ pawn.category }}</td>
      </tr>
      <tr>
        <th>Item Condition</th>
        <td>{{ pawn.ItemCondition }}</td>
      </tr>
      <tr>
        <th>Offer Price($)</th>
        <td>{{ pawn.offer_price }}</td>
      </tr>
      <tr>
        <th>Pawn Period</th>
        <td>{{ pawn.period }}</td>
      </tr>

</table>
{% endblock %}