{% extends "baseMain.html" %}
{% block title %}Radiant Finance - view Customer Feedback{% endblock %}

{% block content %}
<h1 class="display-4">Customer Feedback</h1>
<a href="/searchCustomer">Search</a>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Service Rating</th>
        <th>Website Rating</th>
        <th>Additional Feedback</th>
        <th>Date Created</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in feedback_list %}
        <tr>
           <td>{{ feedback.get_name() }}</td>
          <td>{{ feedback.get_email() }}</td>
          <td>{{feedback.get_service()}}</td>
          <td>{{feedback.get_website()}}</td>
            <td>{{feedback.get_additional()}}</td>
          <td>{{feedback.get_date()}}</td>
          <td>{{feedback.get_status()}}</td>

        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
